In [1]:
import pandas as pd
import numpy as np
BPSO = pd.read_csv("Dataset1_BPSO.txt", index_col=False)
BPSO_OBL = pd.read_csv("Dataset1_BPSO+OBL.txt", index_col=False)
SFS = pd.read_csv("Dataset1_SFS.txt", index_col=False)

In [2]:
BPSO

   Train Score  Test Score
0     0.857143    0.859649
1     0.692308    0.710526
2     0.901099    0.850877
3     0.804396    0.789474
4     0.934066    0.912281
5     0.791209    0.763158
6     0.934066    0.894737
7     0.918681    0.921053
8     0.861538    0.850877
9     0.918681    0.947368

In [3]:
BPSO_OBL

   Train Score  Test Score
0     0.918681    0.947368
1     0.931868    0.929825
2     0.800000    0.798246
3     0.923077    0.912281
4     0.668132    0.692982
5     0.837363    0.807018
6     0.936264    0.903509
7     0.947253    0.938596
8     0.920879    0.894737
9     0.828571    0.912281

In [4]:
SFS

   Train Score  Test Score
0     0.973626    0.956140
1     0.980220    0.973684
2     0.986813    0.964912
3     0.978022    0.964912
4     0.978022    0.982456
5     0.984615    0.982456
6     0.984615    0.947368
7     0.984615    0.938596
8     0.978022    0.973684
9     0.975824    0.973684

In [5]:
BPSO.describe()

       Train Score  Test Score
count    10.000000   10.000000
mean      0.861319    0.850000
std       0.078518    0.075397
min       0.692308    0.710526
25%       0.817582    0.804825
50%       0.881319    0.855263
75%       0.918681    0.907895
max       0.934066    0.947368

In [6]:
BPSO_OBL.describe()

       Train Score  Test Score
count    10.000000   10.000000
mean      0.871209    0.873684
std       0.088431    0.081578
min       0.668132    0.692982
25%       0.830769    0.828947
50%       0.919780    0.907895
75%       0.929670    0.925439
max       0.947253    0.947368

In [7]:
SFS.describe()

       Train Score  Test Score
count    10.000000   10.000000
mean      0.980440    0.965789
std       0.004450    0.014591
min       0.973626    0.938596
25%       0.978022    0.958333
50%       0.979121    0.969298
75%       0.984615    0.973684
max       0.986813    0.982456

In [8]:
SFS.describe().iloc[1]

Train Score    0.980440
Test Score     0.965789
Name: mean, dtype: float64

In [9]:
Results = pd.DataFrame()

In [10]:
Results['BPSO']= BPSO.describe().iloc[1]
Results['BPSO+OBL']=BPSO_OBL.describe().iloc[1]
Results['SFS'] = SFS.describe().iloc[1]

In [11]:
Results

                 BPSO  BPSO+OBL       SFS
Train Score  0.861319  0.871209  0.980440
Test Score   0.850000  0.873684  0.965789